<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taupstairs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.taupstairs.app.TaUpstairsApplication"
        android:allowBackup="true"
        android:icon="@drawable/taupstairs"
        android:label="@string/app_name"
        android:theme="@style/Common_Theme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LogoActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".ui.LoginActivity" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".ui.SelectCollegeActivity" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".ui.AboutUsActivity"></activity>
        <activity android:name=".ui.ServerDeclareActivity"></activity>
        <activity android:name=".ui.HomePageActivity"></activity>
        <activity android:name=".ui.SettingActivity"></activity>
        <activity android:name=".ui.WriteActivity"></activity>
        <activity android:name=".ui.PersonDataActivity"></activity>
        <activity android:name=".ui.TaskDetailActivity"></activity>
        
        <service android:name=".logic.MainService"></service>

    </application>

</manifest>
